<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div layout:fragment="content">
    <section class="hero">
        <div class="hero-content">
            <h1>Биздин медициналык системага кош келиңиз</h1>
            <p>Сапаттуу медициналык кызмат көрсөтүү</p>
        </div>
    </section>
</body>
</html>
