<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Users</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Дайындоо</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Куралдар тактасы</a></li>
        <li class="active">Дайындоо</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Тизмеси</h3>
            <div class="box-tools pull-right">
                <a th:if="${role} == 'ADMIN' or ${role} == 'DOCTOR'" href="/appointments/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus fa-2x"></i></a>
                <br clear="all"/>
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Пациент</th>
                    <th>Доктур</th>
                    <th>Телефон номуру</th>
                    <th>Убакыт</th>
                    <th>Дата</th>
                    <th>Дареги</th>
                    <th>Диагноз</th>
                </tr>
                <tr th:each="row : ${list}">
                    <form id="form" th:action="@{/search-analyses}">
                        <td th:text="${row.id}"></td>
                        <td th:text="${row.patient.getFirstname()} + ' ' + ${row.patient.getLastname()}"></td>
                        <td th:text="${row.doctor.getFirstname()} + ' ' + ${row.doctor.getLastname()}"></td>
                        <td th:text="${row.phoneNumber}"></td>
                        <td th:text="${row.time}"></td>
                        <td th:text="${row.date}"></td>
                        <td th:text="${row.address}"></td>
                        <td th:text="${row.deceased}"></td>
                        <td>
                            <a class="edit-button" th:if="${role} == 'ADMIN' or ${role} == 'DOCTOR'" th:href="${'/appointments/edit/' + row.id}">Озгортуу</a>
                            <a class="delete-button" th:if="${role} == 'ADMIN'" th:href="${'/appointments/delete/' + row.id}">Очуруу</a>
                        </td>
                    </form>
                </tr>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="/appointments/1">Алгачкы</a></li>
                <li th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}"
                    th:class="${p == currentIndex} ? 'active' : ''">
                    <a th:href="${'/appointments/' + p}" th:text="${p}"></a>
                </li>
                <li><a th:href="${'/appointments/' + endIndex}">Акыркы</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
